#pragma code_page(65001)
#include <windows.h>
#include "resource.h"
IDI_AIRI ICON "airi.ico"
IDD_ADD_URL DIALOGEX 0,0,360,155
STYLE DS_SETFONT|DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION "Add download - AIRI Download Manager"
FONT 9,"Segoe UI"
BEGIN
LTEXT "URL",-1,12,12,330,10
EDITTEXT IDC_URL,12,25,336,22,ES_AUTOHSCROLL|WS_TABSTOP
LTEXT "Filename (optional - AIRI accepts any file type)",-1,12,55,250,10
EDITTEXT IDC_FILENAME,12,68,336,22,ES_AUTOHSCROLL|WS_TABSTOP
LTEXT "Connections",-1,12,99,70,10
COMBOBOX IDC_CONNECTIONS,82,96,65,80,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
DEFPUSHBUTTON "Start download",IDOK,218,122,130,22
PUSHBUTTON "Cancel",IDCANCEL,150,122,62,22
END
