<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.android.contacts" />
        <package android:name="com.android.dialer" />
        <package android:name="com.android.mms" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.oppo.camera" />
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.android.chrome" />
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.android.vending" />
        <package android:name="com.coloros.filemanager" />
        <package android:name="com.coloros.calculator" />
        <package android:name="com.coloros.alarmclock" />
        <package android:name="com.google.android.calendar" />
        <package android:name="com.coloros.note" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.apps.maps" />
    </queries>
    <application android:allowBackup="true" android:label="AIRI OS 26.6 Stable 2" android:theme="@style/Theme.AIRI" android:usesCleartextTraffic="false" android:hardwareAccelerated="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:excludeFromRecents="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
